@font-face {
	font-family: font;
	src: url('../webfonts/futur.ttf');
}

body{
	background-image: linear-gradient(to bottom right, black, gray);
	background-color: black;
	font-family:font;
}

.kotakan{
	border-radius:10px;
	margin-top:20px;
	padding:20px;
}

.kotakmenu{
	border-radius:10px;
	padding:20px;
	text-align:center;
	font-size:24px;
}

